.footer {
    background: #262626;
    color: $color-secondary;
    @at-root &__container {
        display: flex;
        flex-flow: row nowrap;
    }
    @at-root &__box {
        width: 40%;
        font-size: 1.1rem;
        align-self: center;
    }
    @at-root &__center-box {
        text-align: center;
        width: 20%;
    }
    @at-root &__link {
        color: $color-secondary;
        font-size: 1.5rem;
        font-family: $font-family-secondary;
    }
    @at-root &__right-box {
        text-align: right;
    }
    @at-root &__love {
        background: none;
        color: #ff2b58;
    }
}

@media #{map-get($breakpoints, md)} {
    .footer {
        @at-root &__box {
            font-size: 1.4rem;
        }
        @at-root &__love {
            font-size: 1.4rem;
        }
        @at-root &__link {
            font-size: 1.8rem;
        }
    }
}