.header {
    height: 9rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    // background: #fff;
    transition: background-color .3s ease-out;
    @at-root &--background {
        background-color: $color-secondary !important;
    }
    @at-root &__container {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 80%;
    }

    @at-root &__link {
        font-family: $font-family-secondary;
        font-size: 2.8rem;
        color: $color-primary;
    }
}

.nav {
        display: none;
        position: absolute;
        width: 100%;
        top: 90px;
        left: 0;
        height: 0;
    @at-root &--active {
        display: block;
        position: absolute;
        width: 100%;
        top: 90px;
        left: 0;
        height: auto;
    }
    @at-root &__list {
        opacity: 0;
        background: $color-secondary;
        list-style-type: none;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
        // transition: all .3s linear;
        @at-root &--active {
            animation: fadeIn .3s ease-out 1 forwards;
            animation-play-state: running;
        }
        @at-root &--fadeOut {
            animation: fadeOut .3s ease-out 1 backwards;
            animation-play-state: running;
        }
    }
    @at-root &__item {
        padding: .5rem 0;
        border-top: 3px solid transparent;
        @at-root &:last-child {
            padding-bottom: 0;
        }
        @at-root &--active {
            // padding-bottom: .8rem; 
            border-top: 3px solid #ff6033;
        }
    }
    @at-root &__link {
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.hamburger {
    background: transparent;
    border: 0;
    height: 28px;
    width: 28px;
    position: relative;
    cursor: pointer;
    @at-root &__line {
        display: block;
        height: 5px;
        width: 28px;
        background-color: $color-primary;
        position: absolute;
        transition: all .3s ease-out;
        &:nth-child(1) {
            left: 0;
            top: 0;
        }
        &:nth-child(2) {
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(3) {
            left: 0;
            bottom: 0;
        }
        @at-root &--active {
            &:nth-child(1) {transform: translateY(11.5px) rotate(45deg);}
            &:nth-child(2) {opacity: 0;}
            &:nth-child(3) {transform: translateY(-11.5px) rotate(-45deg);}
        }
    }
}

@media #{map-get($breakpoints, sm)} {
    .header {
        @at-root &__link {
            font-size: 3rem;
        }
    }
}

@media #{map-get($breakpoints, md)} {
    .header {
        height: 9rem;
        @at-root &__link {
            font-size: 3.5rem;
        }
    }   
    .nav {
        display: block !important;
        position: static;
        background: transparent;
        width: auto;
        height: auto;
        overflow: visible;
        // transition-duration: 0ms;
        @at-root &__list {
            visibility: visible;
            opacity: 1;
            background: transparent;
            display: flex;
            list-style-type: none;
            flex-flow: row nowrap;
            padding: 0;
            @at-root &--fadeOut {
                animation: none;
            }
        }
        @at-root &__item {
            margin-bottom: 0;
            margin-right: 1rem;
            padding: .7rem 0;
            align-self: center;
            border-top: none;  
            @at-root &:last-child {
                margin-right: 0;
                padding-bottom: .7rem;
            }
            @at-root &--active {
                padding-bottom: 1rem; 
                border-top: 3px solid #ff6033;
            }
        }
        @at-root &__link {
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .hamburger {
        display: none;
    }
}

@keyframes fadeIn {
    from { opacity: 0;}
      to { opacity: 1;}
}

@keyframes fadeOut {
    from { opacity: 1;}
      to { opacity: 0;}
}